.btn_color{
    background-color: #F06C4E ;
    color: #fff;
}
#mealsContainer img{
    width: 100%;
}
#mealsContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.single_meal_box {
    
    border-radius: 30px;
    background-color: #e0e6e4;
    margin: 15px;
    text-align: center;
    padding-bottom: 22px;
    overflow: hidden;
    
}
.single_meal_info{
    text-align: center;
}
#single_img{
    height: 373px;
width: 546px;
border-radius: 31px;
display: none;
margin: auto;
}
#ingredient_list{
    display: none;
}